
/*上外边距10像素*/
.form-margin-top-10{
    margin-top: 10px;
}

/*登陆页面居中效果*/
#logindev{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform:  translateY(-50%);
    -ms-transform:  translateY(-50%);
    -o-transform:  translateY(-50%);
    transform:  translateY(-50%);
}

.container-custom{
    margin-top: 50px;
    padding: 25px;
}

.custom-border{
    border: 2px solid lightgray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;;
    padding: 10px;
}
.custom-line-height{
    border-bottom: 2px solid lightgray;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: x-small;
}
.custom-border-bottom{
    border-bottom: 1px solid lightgray;
    line-height: 40px;
    height: 40px;
}
.custom-margin-top-15{
    margin-top: 15px;
}